.App {
  font-family: sans-serif;
  text-align: center;
}

.doggie {
  border: 2px solid red;
  width: 260px;
  padding: 10px;
  margin: 10px;
}

/* img{
  object-fit: contain
  ;
} */

@media only screen and (min-width: 560px) {
  .dog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 780px) {
  .dog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.single-dog {
  border: 2px solid black;
  width: 310px;
  padding: 10px;
  margin: 10px auto;
}
